/* typo */
h1{
  font-size: 100px;
}

/* end typo */

/* buttons */
.btn__language{
  background-color: transparent;
  text-transform: uppercase;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0px;
  font-size: 12px;
}

.btn__black{
  background-color: black;
  color: white;
  border-radius: 0px;
  font-size: 12px;
}

/* barra nav */

.navigation{
  height: 70px;
  background-color: white;
}

.nav__logo{
  line-height: 70px;
}

.nav__logo img{
  width: 100px;
}

.nav__logo, .nav__bars, .primary__nav, .secondary__nav{
  display: inline-block;
}

.nav__bars, .hamburger{
  float: right;
  line-height: 70px;
}

.nav__bars{
  font-size: 12px;
}

.primary__nav{
  margin-right: 30px;
}

.primary__nav li{
  margin-right: 20px;
}

.primary__nav a{
  color: black;
}

.navigation a{
  text-transform: uppercase;
}

.hamburger{
  padding-top: 2px;
  padding-right: 30px;
}

/* end barra nav */

/* hero */

.hero{
  margin-top: 70px;
}

.hero img{
  width: 100%;
}

/* end hero */

/* prodotti principali */

.product__box{
  background-color: #fafafa;
  margin-bottom: 30px;
  padding: 20px 0 10px 0;
}

.product__logo{
  max-width: 300px;
}

.product__img{
  height: 300px;
}

.product__box p{
  margin-top: 30px;
  margin-bottom: 30px;
}

.product__box a{
  display: block;
}

/* end prodotti principali */


/* responsive */

@media screen and (max-width: 992px){
  h1{
    font-size: 80px;
  }
}

@media screen and (max-width: 767px){
  h1{
    font-size: 60px;
  }
}
