/* typo */
h1{
  font-size: 100px;
}

/* end typo */

/* buttons */
.btn__language{
  background-color: transparent;
  text-transform: uppercase;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0px;
  font-size: 12px;
}

.btn__black{
  background-color: black;
  color: white;
  border-radius: 0px;
  font-size: 12px;
}

/* barra nav */

.navigation{
  height: 70px;
  background-color: white;
}

.nav__logo{
  line-height: 70px;
}

.nav__logo img{
  width: 100px;
}

.nav__logo, .nav__bars, .primary__nav, .secondary__nav{
  display: inline-block;
}

.nav__bars, .hamburger{
  float: right;
  line-height: 70px;
}

.nav__bars{
  font-size: 12px;
}

.primary__nav{
  margin-right: 30px;
}

.primary__nav li{
  margin-right: 20px;
}

.primary__nav a{
  color: black;
}

.navigation a{
  text-transform: uppercase;
}

.hamburger{
  padding-top: 2px;
  padding-right: 30px;
}

/* end barra nav */

/* hero */

.hero{
  margin-top: 70px;
}

.hero img{
  width: 100%;
}

/* end hero */

/* prodotti principali */

.product__box{
  background-color: #fafafa;
  margin-bottom: 30px;
  padding: 20px 0 10px 0;
}

.product__logo{
  max-width: 300px;
}

.product__img{
  height: 300px;;
  max-width: 100%;
}

.product__box p{
  margin-top: 30px;
  margin-bottom: 30px;
}

.product__box a{
  display: block;
}

/* end prodotti principali */

/* come funziona */

#come__funziona{
  background-image: url("../img/banner.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: 14% -2%;
}
.main__container{
  max-width: 900px;
  margin: auto;
  padding-top: 300px;
}

.box{
  display: inline-block;
  width: calc((100% / 3) - 4px)
}

.box__lat{
  vertical-align: bottom;
  padding-bottom: 100px;
}

.box__lat:last-child{
  padding-left: 60px;
}

#come__funziona img{
  max-width: 100%;
  height: auto;
}
/* end come funziona */

/* block section */

#block__section{
  margin-top: 80px;
}

.block__size{
  height: 600px;
  margin-bottom: 30px;
}

.block__details{
  background-color: #fafafa;
}

.block__logo{
  width: 300px;
  max-width: 100%;
  margin-top: 60px;
}


.block__img{
  text-align: right;
}

.block__details_b{
  position: relative;
  background-color: #4fc6f3;
  color: white;
}

.block__image img{
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block__w__background{
  background-image: url("../img/city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.block__w__background2{
  position: relative;
  background-image: url("../img/scooter-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.block__background__text{
  position: absolute;
  bottom: 50%;
  right: 4%;
  display: inline-block;
}

/* end block section */


/* responsive */

@media screen and (max-width: 992px){
  h1{
    font-size: 80px;
  }

  .box {
    display: block;
  }

  .box__phone{
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 300px;
  }

  #come__funziona img{
    max-width: 40%;
    height: auto;
  }

  .box__down{
    width: 100%;
    position: relative;
    top: 620px;
    padding-left: 60px;
    padding-right: 10px;
  }

  .box__down2{
    width: 100%;
    position: relative;
  }

  .block__img{
    max-width: 100%;
    text-align: center;
  }

}

@media screen and (max-width: 767px){
  h1{
    font-size: 60px;
  }

  .box__phone{
    text-align: center;
    position: relative;
    bottom: 160px;
  }

  .box__down{
    position: relative;
    top: 600px;
    padding-left: 60px;
    padding-right: 10px;
  }

  .box__down2{
    position: relative;
  }

  .block__img img{
    width: 100%;
    max-width: 300px;
  }

  .block__background__text{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    display: inline-block;
    text-align: center;
  }


}
