/* typo */
h1{
  font-size: 100px;
}

/* end typo */

/* buttons */
.btn__language{
  background-color: transparent;
  text-transform: uppercase;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0px;
  font-size: 12px;
}

.btn__black{
  background-color: black;
  color: white;
  border-radius: 0px;
  font-size: 12px;
}

/* barra nav */

.navigation{
  height: 70px;
  background-color: white;
}

.nav__logo{
  line-height: 70px;
}

.nav__logo img{
  width: 100px;
}

.nav__logo, .nav__bars, .primary__nav, .secondary__nav{
  display: inline-block;
}

.nav__bars, .hamburger{
  float: right;
  line-height: 70px;
}

.nav__bars{
  font-size: 12px;
}

.primary__nav{
  margin-right: 30px;
}

.primary__nav li{
  margin-right: 20px;
}

.primary__nav a{
  color: black;
}

.navigation a{
  text-transform: uppercase;
}

.hamburger{
  padding-top: 2px;
  padding-right: 30px;
}

/* end barra nav */

/* hero */

.hero{
  margin-top: 70px;
}

.hero img{
  width: 100%;
}

/* end hero */

/* prodotti principali */

.product__box{
  background-color: #fafafa;
  margin-bottom: 30px;
  padding: 20px 0 10px 0;
}

.product__logo{
  max-width: 300px;
}

.product__img{
  height: 300px;;
  max-width: 100%;
}

.product__box p{
  margin-top: 30px;
  margin-bottom: 30px;
}

.product__box a{
  display: block;
}

/* end prodotti principali */

/* come funziona */

.main__container{
  width: 900px;
  margin: auto;
}

.box{
  display: inline-block;
  width: calc((100%/3)-4px);
  height: 200px;
}

.box_2{
  height: 300px;
  background-color: blue;
}

.box_1{
  background-color: green;
}

.box_3{
  background-color: yellow;
}

/* end come funziona */

/* block section */

#block__section{
  margin-top: 80px;
}

.block__size{
  height: 600px;
  margin-bottom: 30px;
}

.block__details{
  background-color: #fafafa;
}

.block__logo{
  width: 300px;
  max-width: 100%;
  margin-top: 60px;
}


.block__img{
  text-align: right;
}

.block__details_b{
  position: relative;
  background-color: #4fc6f3;
  color: white;
}

.block__image img{
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block__w__background{
  background-image: url("../img/city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.block__w__background2{
  position: relative;
  background-image: url("../img/scooter-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.block__background__text{
  position: absolute;
  bottom: 50%;
  right: 4%;
  display: inline-block;
}

/* end block section */


/* responsive */

@media screen and (max-width: 992px){
  h1{
    font-size: 80px;
  }



  .block__img{
    max-width: 100%;
    text-align: center;
  }

}

@media screen and (max-width: 767px){
  h1{
    font-size: 60px;
  }

  .block__img img{
    width: 100%;
    max-width: 300px;
  }

  .block__background__text{
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    display: inline-block;
    text-align: center;
  }


}
